#hero {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whyUs {
  width: 100%;
}

#callToAction {
  width: 100%;
}

@media (max-width: 800px) {
  #whyUs,
  #callToAction {
    width: 100%;
  }
}
